.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  width: 80%;
  margin: 0 auto; /* 중앙 정렬 */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 10px;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.content-container {
  flex: 3;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo-container {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.side-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-tabs .tab {
  margin-bottom: 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.fixed-size {
  width: 800px; /* 원하는 너비로 고정 */
  height: 550px; /* 원하는 높이로 고정 */
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.centered-content {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-shape {
  position: relative;
  padding-left: 20px; /* 원하는 흰색 부분의 너비 */
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1); /* 오른쪽 그림자 제거 */
}

.custom-shape::before {
  content: "";
  position: absolute;
  left: -30px; /* 흰색 부분의 위치 */
  top: 0;
  width: 30px; /* 흰색 부분의 너비 */
  height: 100%;
  background-color: #ffffff; /* 흰색 */
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
}

.rectangle {
  display: block;
  padding: 10px 20px;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.centered-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-text {
  font-weight: bold;
}

.vertical-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}


